/* Community.module.css */

.communitySection {
  width: 100vw;
  padding: 80px 0;
  padding-bottom: 100px;
  background-color: #ffffff; /* Or your preferred background */
  text-align: center;
  background: url(../public/community-bg-5.jpeg) no-repeat center center;
  background-size: cover;
}

.container {
  width: 95%;
  max-width: 1600px;
  margin: 0 auto;
}

.communitySection h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #1B3022;
  margin-bottom: 0;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.communitySection h3 {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  color: #1B3022;
  margin-top: -5px;
  text-transform: uppercase;
  word-spacing: 2px;
}

.storiesContainer {
  width: 80%;
  max-width: 900px;
  margin: 24px auto;
  margin-top: 60px;
}

.storiesWrapper {
  width: 100%;
  height: 550px;
  position: relative;
  top: 0;
  left: 0;
}

.mainStory {
  width: 350px;
  height: 550px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #F9F5EB;
  border-radius: 15px;
  /*border: 1px solid #D4AF37; */
  box-sizing: border-box;
  padding: 0;
  overflow: hidden;
  z-index: 50;
  /*box-shadow: 
  0 0 20px rgba(197, 160, 89, 0.8), 
  0 0 40px rgba(197, 160, 89, 0.4), 
  0 0 70px rgba(197, 160, 89, 0.15),
  inset 0 0 20px rgba(197, 160, 89, 0.4);*/
  border: 2px solid #C5A059;
  box-shadow: 0 0 10px rgba(197, 160, 89, 0.8), 
     0 0 20px rgba(197, 160, 89, 0.4), 
     inset 0 0 8px rgba(197, 160, 89, 0.5);
}

.storyVideo {
  width: 100% !important;
  transform: translateY(-37px);
}

.leftStory {
  width: 290px;
  height: 470px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: perspective(1000px) translate(10%, -50%) rotateY(15deg);
  background: #F9F5EB;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 0;
  overflow: hidden;
  z-index: 40;
  box-shadow: 
  0 0 20px rgba(197, 160, 89, 0.8), 
  0 0 40px rgba(197, 160, 89, 0.4), 
  0 0 70px rgba(197, 160, 89, 0.15),
  inset 0 0 20px rgba(197, 160, 89, 0.4);
}

.leftStoryContainer {
  height: 100%;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.storyOverlay {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  z-index: 41;
  top: 0;
  left: 0;
}

.leftStory .storyVideo {
  transform: translateY(-25px);
}

.rightStory {
  width: 290px;
  height: 470px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: perspective(1000px) translate(-10%, -50%) rotateY(-15deg);
  background: #F9F5EB;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 0;
  overflow: hidden;
  z-index: 40;
  box-shadow: 
  0 0 20px rgba(197, 160, 89, 0.8), 
  0 0 40px rgba(197, 160, 89, 0.4), 
  0 0 70px rgba(197, 160, 89, 0.15),
  inset 0 0 20px rgba(197, 160, 89, 0.4);
}

.rightStoryContainer {
  height: 100%;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.storiesFooter {
  display: flex;
  margin: 80px auto 0;
  width: fit-content;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.storiesFooter p {
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  color: #1B3022;
}

.leftArrow {
  height: 42px;
  width: 42px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translate(0, -50%);
  z-index: 50;
  border-radius: 50%;
}

.rightArrow {
  height: 42px;
  width: 42px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translate(0, -50%);
  z-index: 50;
  border-radius: 50%;
}

