.closeButton {
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 100; /* Highest level to ensure clickability */
  background-color: #1B3022;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 8px 16px;
  width: 130px;
  cursor: pointer;
}

.closeButton:hover {
  transform: scale(1.05);
}

.icon {
  color: #F9F5EB; /* Antique Cream */
  width: 18px;
  height: 18px;
}

.text {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.85rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #F9F5EB;
  position: relative;
}


@media (max-width: 768px) {
    .closeButton {
        top: calc(5% + 120px);
        left: 0;
        margin: 0 calc((100vw - 120px) / 2);
    }
}
