.container {
  padding: 100px 0;
  padding-bottom: 150px;
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url(../public/media-section-bg-2.jpeg) no-repeat center center;
  background-size: cover;
}

.mainTitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0rem;
  font-size: 3rem;
  text-transform: uppercase;
}

.divider {
  border: 0;
  border-top: 1px solid #eaeaea;
  margin: 0.7rem auto;
  margin-top: 0;
  width: 50px;
}

.mainSubtitle {
  color: #C5A059; /* Golden */
  text-align: center;
  font-size: 1.1rem;
  letter-spacing: 2px;
  margin-bottom: 3rem;
  font-weight: 600;
}

.contentRow {
  display: flex;
  gap: 0rem;
  width: 90%;
  max-width: 1600px;
}

.leftCol {
  flex: 0 0 50%;
  display: flex;
  align-items: center;
  justify-content: center;}

.rightCol {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.card, .cardSmall {
  border: 1px solid #f0f0f0;
  border-radius: 8px;
  overflow: hidden;
  padding: 1rem;
}

.cardTitle {
  font-family: 'Montserrat', sans-serif;
  color: #C5A059; /* Golden */
  margin-top: 0;
  font-weight: 600;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 1rem;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  .contentRow {
    flex-direction: column;
  }
  .leftCol, .rightCol {
    flex: 0 0 100%;
  }
}