.sectionContainer {
  padding: 50px 0;
  padding-bottom: 30px;
  overflow: hidden;
  background-color: #0a0a0a;
  /* Sleek dark background */
  background: url(../public/media-section-bg-2.jpeg) no-repeat center center;
  background-size: cover;
}

.titleWrapper {
  text-align: center;
  margin-bottom: 5px;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #1B3022;
  margin-bottom: 8px;
}

.divider {
  width: 60px;
  height: 3px;
  background-color: #C5A059;
  /* Golden */
  margin: 0 auto 12px;
}

.subtitle {
  color: #C5A059;
  /* Golden */
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* Carousel Logic */
.carouselTrack {
  display: flex;
  width: max-content;
}

.card {
  width: 300px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
  /*background: #F9F5EB; */
  border-radius: 12px;
  /*padding: 24px;*/
  /*border: 1px solid #333;*/
  flex-shrink: 0;
}

.cardTitle {
  font-family: 'Montserrat', sans-serif;
  color: #C5A059;
  /* Golden */
  font-size: 1.2rem;
  margin: 15px 0 10px;
}

.cardSub {
  font-family: 'Montserrat', sans-serif;
  color: #a0a0a0;
  font-size: 0.9rem;
  line-height: 1.4;
}

.mediaLogo {
  /*width: 200px;*/
  /*height: fit-content;*/
  /*height: 200px;*/
  /*object-fit: contain;*/
  filter: grayscale(1);
  /* Makes logos look uniform */
}