.pageWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #F9F5EB; /* Antique Cream */
  font-family: 'Montserrat', sans-serif;
  color: #1B3022; /* Deep Forest Green */
  background: url(../public/navbar-bg.jpeg) no-repeat center center;
  background-size: cover;
}

.mainContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Spacing to account for the fixed/absolute Navbar */
  padding-top: 120px; 
  padding-bottom: 80px;
}

.contentSection {
  width: 90vw;
  max-width: 1600px;
  /* This will be the flex/grid container for our future contact info and form */
  display: flex;
  flex-direction: column;
  min-height: 60vh; 
}

/* Helper for later layout - split view */
@media (min-width: 1024px) {
  .contentSection {
    flex-direction: row;
    gap: 60px;
  }
}